*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 5% 0 5%;
}
nav .quote a{
    margin-right: auto;
    background-color: rgb(34, 34, 177);
    padding: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}
nav .logo{
    position: relative;
}
nav .logo img{
    height: auto;
    width: 80%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    transition:all 0.3s ease;
    font-family: sans-serif;
    font-weight: 600;
}
nav ul li a:hover{
    opacity: 0.8;
}
nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
#click{
    display: none;
}
.sub-menu{
    display: none;
    font-size: 20px;
    margin: 1.1%;
    padding: 1% 0 1% 0;
}
.nav-links ul li:hover .sub-menu{
    display: inline-block;
    position: absolute;
    margin-left: -10%;
    color: black;
    z-index: 2;
    background:rgba(255,255,255, 0.3);
}
.nav-links ul li:hover .sub-menu ul{
    display: block;
}
.quote a:hover {
    color: black;
}
@media (max-width: 960px) {
    .nav-links{
        position: absolute;
        top: 9.5%;
        right: -100%;
        background: white;
        z-index: 2;
        display: none;
    }
    nav ul li{
        margin: 15% 0;
    }
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .nav-links{
        right: 0%;
        display: block;
    }
    nav ul{
        display: block;
        padding: 0% 4% 4% 4%;
    }
    nav ul li{
        padding: 10% 0 0 0;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav .quote a{
        display: inline-block;
        margin-right: 50%;
    }
    .nav-links ul li:hover .sub-menu{
        display: block;
        margin-left: -15%;
        background:white;
    }
} 
.image-overlay{
    max-height: 80%;
    position: relative;
    text-align: center;
}
.responsive{
    height: auto;
    width: 100%;
    filter: opacity(60%);
}
.centered {
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-50%, -50%);
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
.centered p{
    font-size: 100px;
    font-family: serif;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}
@media (max-width: 600px){
    .centered p{
        font-size: 50px;
    }
}
@media (max-width: 300px){
    .centered p{
        font-size: 25px;
    }
}
@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}
.word{
    background-color: white;
    padding: 2%;
}
.word a{
    color: black;
    font-size: 20px;
}
.word i{
    padding-right: 1%;
    font-size: 16px;
}
.word:hover{
    background-color: rgb(183, 223, 209);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    padding: 0 20px;
}
.wrapper .tab{
    margin-bottom: 8px;
    border-radius: 3px;

}
.wrapper .tab label{
    background: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 99;
}
.wrap .tab label{
    background: rgb(235, 233, 233);
}
.wrapper label span{
    color: black;
    font-size: 22px;
    font-weight: 500;

}
.wrapper label .icon{
    position: relative;
    height: 30px;
    width: 30px;
    color: black;
    font-size: 18px;
    display: block;
    border-radius: 50%;
}
.tab input:checked ~ label .icon i::before{
    content: '\f068';
}
.wrapper label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .tab .content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}
.tab input:checked ~ .content{
    max-height: 100vh;

}
.wrapper .tab .content p{
    font-size: 20px;
    padding: 15px 20px;
    background: rgb(228, 238, 243);
}
.wrapper .tab .new p{
    background: white;
}
.wrapper input{
    display: none;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
    padding: 2% 15%;
}
.bg-color{
    background-color: rgb(188, 221, 235);
}
.footer-container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.footer{
    padding: 70px 0 10px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 18%;
    padding: 0 15px;
}

.footer-row img{
    height: auto;
    width: 80%;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 7px;
}

.footer-col ul li a, .footer-col ul li p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    transition: all 0.3s ease;
    color: black;
}

.footer-col ul a:hover{
    text-decoration: underline;
}

.hover-effect ul a:hover{
    text-decoration: none;
}

/* responsive */
@media(max-width: 960px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-row img{
        height: auto;
        width: 80%;
    }
    .footer-row {
        display: inline-block;
    }
}

.bottom-footer{
    text-align: center;
    padding-top: 2%;
}