*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 5% 0 5%;
}
nav .quote a{
    margin-right: auto;
    background-color: rgb(34, 34, 177);
    padding: 4px;
    color: white;

    font-weight: 600;
    font-size: 16px;
}
.logo{
    height: auto;
    width: 450px;
}
nav .logo img{
    width: 100%;

}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    transition:all 0.3s ease;

    font-weight: 600;
}
nav ul li a:hover{
    opacity: 0.8;
}
nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
#click{
    display: none;
}
.sub-menu{
    display: none;
    font-size: 20px;
    margin: 1.1%;
    padding: 1% 0 1% 0;
}
.nav-links ul li:hover .sub-menu{
    display: inline-block;
    position: absolute;
    margin-left: -10%;
    color: black;
    z-index: 2;
    background:rgba(255,255,255, 0.3);
}
.nav-links ul li:hover .sub-menu ul{
    display: block;
}
.quote a:hover {
    color: black;
}
 
@media (max-width: 1060px) {
    
    .nav-links{
        position: absolute;
        top: 9%;
        right: -100%;
        background: white;
        z-index: 2;
        display: none;
    }
    nav ul li{
        margin: 15% 0;
    }
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .nav-links{
        right: 0%;
        display: block;
    }
    nav ul{
        display: block;
        padding: 0% 4% 4% 4%;
    }
    nav ul li{
        padding: 10% 0 0 0;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav .quote a{
        display: inline-block;
        margin-right: 50%;
    }
    .nav-links ul li:hover .sub-menu{
        display: block;
        margin-left: -15%;
        background:white;
    }
    .sub-menu{
        padding: 4%;
        right: 100px;
    }
} 
.image-overlay{
    max-height: 80%;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
}
.responsive{
    height: auto;
    width: 100%;
}
.centered {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.centered p{
    font-size: 50px;

    text-transform: uppercase;
}

.everything{
    margin: 1% 10% 1% 10%;
    display: flex;
}
h2{
    font-size: 45px;
    font-weight: 500;
    padding: 5% 5% 5% 0;
}
.form p{
    font-size: 25px;

    padding: 5% 0% 10% 0%;
}
.container2{
    max-width: 450px;
    width: 100%;
    height: auto;
}
form .dbl-field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}
.dbl-field .field{
    height: 40px;
}

form .field input,
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;

}
form .message{
    position: relative;
}
form .message textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 180px;
    max-height: 300px;
    padding: 15px 20px 0 10px;
}
form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
}
.button-area button{
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #0d6efd;
}
@media(max-width: 960px){
    .wrapper header, .wrapper p{
        text-align: center;
    }
    form .dbl-field{
        margin-bottom: 0px;
        flex-direction: column;
    }
    .dbl-field .field{
        margin-bottom: 20px;
        width: 100%;
    }
    form .message textarea{
        resize: none;
    }
    form .button-area{
        flex-direction: column;
    }
    .button-area button{
        width: 100%;
    }
    .button-area span{
        text-align: center;
        margin: 20px 0;
    }
}
.main{
    flex: 50%;
}
.txt-content p{
    padding: 1% 0;
    color: rgb(75, 75, 216);
    font-weight: 600;
    font-size: 16px;
}
.last-content{
    padding-top: 2%;

    word-spacing: 2px;
}
.footer-container {
    max-width: 1170px;
    margin: auto;
    padding-bottom: 5%;
}

ul {
    list-style: none;
}

.footer{
    padding: 70px 0 10px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 18%;
    padding: 0 15px;
}

.footer-row img{
    height: auto;
    width: 450px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 70%;
}

.footer-col ul li {
    margin-bottom: 7px;
}

.footer-col ul li a, .footer-col ul li p{
    font-size: 18px;

    font-weight: 300;
    /* display: block; */
    transition: all 0.3s ease;
    color: black;
}

.footer-col ul a:hover{
    text-decoration: underline;
}

.hover-effect ul a:hover{
    text-decoration: none;
}
@media (max-width:1100px){
    .everything{
        margin: 0 5%;
    }
} 
@media (max-width:1160px){
    .everything{
        margin: 0 1%;
    }
} 
/* responsive */
@media(max-width: 960px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-row img{
        height: auto;
        width: 80%;
    }
    .footer-row {
        display: inline-block;
    }
    .everything{
        display: block;
    }

}
@media(max-width: 660px){
    .google-map iframe{
        width: 100%;
    }
}
.bottom-footer{
    text-align: center;
    padding-top: 2%;
}
@media (max-width: 600px){
    .centered p{
        font-size: 30px;
    }
    .centered{
        left: 25%;
    }
}
@media (max-width: 300px){
    .centered p{
        font-size: 25px;
    }
}

