
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 5% 0 5%;
}

nav .quote a{
    margin-right: auto;
    background-color: rgb(34, 34, 177);
    padding: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}
nav .logo{
    position: relative;
}
nav .logo img{
    height: auto;
    width: 80%;

}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    transition:all 0.2s ease;
    font-family: sans-serif;
    font-weight: 600;
}
nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
nav ul li a:hover{
    opacity: 0.8;
}
.sub-menu{
    display: none;
    font-size: 20px;
    margin: 1.1%;
    padding: 1% 0 1% 0;
}
.nav-links ul li:hover .sub-menu{
    display: inline-block;
    position: absolute;
    margin-left: -10%;
    background: white;
    color: black;
    z-index: 2;
    background:rgba(255,255,255, 0.3);
}
.nav-links ul li:hover .sub-menu ul{
    display: block;
}
#click{
    display: none;
}
.column2 {
    display: inline-block;
    height: auto;
    width: 20%;
    padding-bottom: 2%;
}
@media (max-width: 960px) {
    .nav-links{
        position: absolute;
        top: 9.5%;
        right: -100%;
        background: white;
        z-index: 2;
        display: none;
    }
    nav ul li{
        margin: 15% 0;
    }
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .nav-links{
        right: 0%;
        display: block;
    }
    nav ul{
        display: block;
        padding: 0% 4% 4% 4%;
        
    }
    nav ul li{
        padding: 10% 0 0 0;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav .quote a{
        display: inline-block;
        margin-right: 50%;
    }
    .container2 div{
        display: block;
        max-width: 100%;
    }
    .nav-links ul li:hover .sub-menu{
        display: block;
        margin-left: -15%;
        background:white;
    }
    .text-overlay p{
        padding-bottom: 10%;
    }
    .text-msg p{
        padding: 1% 0 5%;
    }
} 

.quote a:hover {
    color: black;
}

.slider {
    overflow: hidden;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 12s slider infinite;
}

.slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    80% {
        left: -200%;
    }
}
.image-overlay{
    max-height: 80%;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
}
.text-overlay p{
    font-size: 20px;
    font-family: sans-serif;
}
.responsive{
    height: auto;
    width: 100%;
}
.centered {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.centered p{
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
.word-design3 {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    font-family: serif;
    padding-bottom: 2% ;
    padding-top: 2%;
}
/* h1{
    padding-top: 2%;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
    font-family: serif;
} */

.column {
  display: inline-block;

}

.container {
    overflow: hidden;
    padding: 1%;
}

.column a img {
    max-width: 90%;
    height: auto;
}

.text-overlay {
    text-align: center;
    font-weight: bold;
    color: black;
}

.text-overlay p:hover{
    text-decoration: underline;
}

.quote1{
    text-align: center;
    padding: 3% 3% 7% 3%;

}
.button {
    background-color: #26277c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(37, 10, 87, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.word-design {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    font-family: serif;
    padding-bottom: 0.5%;
}

.word-design2 {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 0.5%;
}

.text-msg {
    text-align: center;
}
.text-msg p{
    font-size: 16px;
    font-family: sans-serif;
}

.container2 {
    overflow: hidden;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.column2 {
    display: inline-block;
    height: auto;
    padding-bottom: 2%;
    width: 100%;
    padding: 1%;
}

.final-container p{
    text-transform: uppercase;
    text-align: center;
    padding: 1%;
    font-size: 27px;
    background-color: rgb(24, 24, 156);
    color: white;
    
}

.final-container {
    background-color: rgb(24, 24, 156);
    width: 100%;
    height: auto;
}

.slider2, .img11, .img12{
    background-color: rgb(24, 24, 156);
}

.img11{
    padding-left: 28%;
    background-color: rgb(24, 24, 156) ;
}

.img12{
    padding-left: 70%;
    background-color: rgb(24, 24, 156) ;
}

.slider2 p{
    text-transform: none;
    color: white;
    font-size: 20px;
}
.center{
    text-align: center;
}
.slider2 {
    overflow: hidden;
}

.slider2 section {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 12s slider infinite;
}

.slider2 section .testomonial-1{
    float: left;
    width: 20%;
}

@keyframes slider2 {
    0% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    80% {
        left: -200%;
    }
}
.content{
    padding: 0 30%;

}
.img-center{
    text-align: center;
}
.footer-container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.footer{
    padding: 70px 0 10px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 18%;
    padding: 0 15px;
}

.footer-row img{
    height: auto;
    width: 80%;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 7px;
}

.footer-col ul li a, .footer-col ul li p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    /* display: block; */
    transition: all 0.3s ease;
}

.footer-col ul a:hover{
    text-decoration: underline;
}

.hover-effect ul a:hover{
    text-decoration: none;
}

/* responsive */
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .container2 {
        display: inline;
    }
}

.bottom-footer{
    text-align: center;
    padding-top: 2%;
}
