*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 5% 0 5%;
}

nav .quote a{
    margin-right: auto;
    background-color: rgb(34, 34, 177);
    padding: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}
nav .logo{
    position: relative;
}
nav .logo img{
    height: auto;
    width: 80%;

}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    transition:all 0.3s ease;
    font-family: sans-serif;
    font-weight: 600;
}
nav ul li a:hover{
    opacity: 0.8;
}
nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}

#click{
    display: none;
}
.sub-menu{
    display: none;
    font-size: 20px;
    margin: 1.1%;
    padding: 1% 0 1% 0;
}
/* .nav-links ul li{
    transition: all 0.3s ease;
} */
.nav-links ul li:hover .sub-menu{
    display: inline-block;
    position: absolute;
    margin-left: -10%;
    color: black;
    z-index: 2;
    background:rgba(255,255,255, 0.3);
    
}
.nav-links ul li:hover .sub-menu ul{
    display: block;
}
.quote a:hover {
    color: black;
}
@media (max-width: 960px) {
    .nav-links{
        position: absolute;
        top: 9%;
        right: -100%;
        background: white;
        /* text-align: right; */
        z-index: 2;
        display: none;
    }
    nav ul li{
        margin: 15% 0;
    }
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .nav-links{
        right: 0%;
        display: block;
    }
    nav ul{
        display: block;
        padding: 0% 4% 4% 4%;
        
    }
    nav ul li{
        padding: 10% 0 0 0;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav .quote a{
        display: inline-block;
        margin-right: 50%;
    }
    .nav-links ul li:hover .sub-menu{
        display: block;
        margin-left: -15%;
        background:white;
    }
    .sub-menu{
        padding: 4%;
        right: 100px;
    }
} 
.image-overlay{
    max-height: 80%;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
}
.responsive{
    height: auto;
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered p{
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
@media (max-width: 600px){
    .centered p{
        font-size: 35px;
    }
}
@media (max-width: 300px){
    .centered p{
        font-size: 25px;
    }
}
.txt{
    text-align: center;
    margin: 1% 20% 1% 20%;
    padding: 2% 0%;
}
.txt p{
    font-size: 25px;
}
.container{
    text-align: center;
}

.container2, .five-img {
    margin: 1% 10%;
    display: flex;
}
/* .logo-1{
    margin: 0 15%;
} */
.logo-text p{
    padding-top: 5%;
    font-family: sans-serif;
}
.logo-text{
    flex: 10%;
    padding: 2%;
    text-align: center;
}



@media(max-width: 500px){
    .five-img, .container{
        display: block;
    }
    .centered p{
        font-size: 30px;
    }
    .logo-text{
        text-align: center;
        padding: 3%;
    }
    .txt p{
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
}
.quote1{
    text-align: center;
    padding: 3% 3% 7% 3%;

}
.button {
    background-color: #26277c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  
.button:hover {
    opacity: 0.9;
}
.footer-container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.footer{
    padding: 70px 0 10px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 18%;
    padding: 0 15px;
}

.footer-row img{
    height: auto;
    width: 80%;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 70%;
}

.footer-col ul li {
    margin-bottom: 7px;
}

.footer-col ul li a, .footer-col ul li p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    /* display: block; */
    transition: all 0.3s ease;
    color: black;
}

.footer-col ul a:hover{
    text-decoration: underline;
}

.hover-effect ul a:hover{
    text-decoration: none;
}

/* responsive */
@media(max-width: 960px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-row img{
        height: auto;
        width: 80%;
    }
    .footer-row {
        display: inline-block;
    }
}

.bottom-footer{
    text-align: center;
    padding-top: 2%;
}
